# Ignore everything
*

# Allow only tex-files, .gitignore and graphics
!*.tex
!*.bib
!*.pdf
!*.jpg
!*.png
!.gitignore
!README.md

# Ignore the compiled pdf
*6LoWPAN.pdf

# Allow subdirectories
!*/